.App {
  text-align: center;
}
.affichage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  margin: 13%;
  margin-top: 10px;
}
.aff {
  padding: 20px;
  font-style: italic;
  font-size: 30px;
  font-weight: 100;
  color: blueviolet;
}
.alo {
  background: none;
}
.title {
  color: blueviolet;
  padding: 20px;
  font-size: 50px;
  font-weight: 100;
  font-style: italic;
}
